<div>
    <div id="myHeading">
        <img height="42px" width="42px" src="assets\icons\logo.png" />
        <h1>Pet Finder</h1>
    </div>

    <div class="mb-5">
        <p>Make a difference to people around you.</p>
    </div>
   
    <form [formGroup]="loginForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address
                <span class="text-danger">*</span>
            </label>
            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
