<div>
    <ul class="nav nav-pills nav-fill border">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
                <img src="assets\icons\logo.png" alt="Logo" width="15" height="24"
                    class="d-inline-block align-text-top">
                Pet Finder
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/add">Add Pet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pets">My Pet(s)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
    </ul>
</div>
<div class="mt-3">
    <router-outlet></router-outlet>
</div>