/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";

//Theming
//$blue: #0000ff;

html {
    height: 100%;
}

body {
    padding: 2%;
    height: 100vh;
    color: white;
    background-color: #298ebd;
    // background: linear-gradient(326deg, #ebad50 0%, #ba0e0e 74%) fixed;
}

.nav-link {
    color: rgb(229 229 229);
}

.active-route {
    background: rgb(74 76 106);
    border-bottom: 2px solid rgb(232, 89, 89);  
}

// .nav-pills>.active>a,
// .nav-pills>.active>a:hover {
//     background-color: red;
// }

.image {
    align-items: center;
    display: flex;
    margin: auto;
}

.form-group {
    margin-bottom: 2rem;
}

.form-control {
    //background-color: transparent !important;
    border: 1.15px solid #561139;
    border-radius: 0;
}

a {
    color: #561139;
    text-decoration: underline;

    &:focus {
        outline: 2px solid #561139;
    }
}

h1,
h2 {
    color: #561139;
}

#myHeading img {
    float: left;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

.border {
    border: 2px solid red;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.alert {
    display: contents;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
}

.alert-success {
    color: #155724;
}