<div *ngIf="!showError; else error">
    <div *ngIf="hasPet; else noPet">
        <div class="card mb-3" *ngFor="let item of petDetails">
            <div class="row g-0">
                <div class="col-md-4">
                    <div class="card-body">
                        <img [src]="createResourcePath(item.filePath)"
                            onerror="this.src='../../assets/icons/NoImage.png'" class="img-fluid rounded-circle image"
                            style="width: 50%;" alt="...">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <p>Name: {{item?.name}}</p>
                                <p>Contact Details: {{item?.contactAddress}}</p>
                                <p>Lost At: {{item?.lostCity}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noPet>
        No missing pet details found.
    </ng-template>
</div>
<ng-template #error>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
            something went wrong. Please contact administrator.
        </div>
    </div>
</ng-template>